<div class="searches">
  <%=render 'searches'%>
</div>

<%= form_tag(notes_path,:method=>'get',:id=>"search-form") do%>
  <%=search_field_tag(:word,params[:word],:class=>"input-medium search-query")%>
  <button type="submit" name="search">Search</button>
  <button type="submit" name="like">Like</button>
  <button type="submit" name="index">index</button>
  <span style="padding-left:30px;"><a href="/notes/new">New</a></span>
<%end%>

<%unless @categories.blank?%>
  <div class="searches">
    <%=render 'names',:searches=>@categories,:name=>'name'%>
  </div>
<%end%>

<%unless @notes.blank?%>
  <%@notes.each_with_index do |e,i|%>
    <hr>
    <div class="searches">
      <%=render 'names',:searches=>e.categories,:name=>'name'%>
    </div>

    <div class="note">
      <%=raw @textiles[i]%>
    </div>

    <div>
      <%=link_to 'Edit', edit_note_path(e)%>
    </div>
  <%end%>
<%end%>
<br/>
<%=paginate @notes unless @notes.blank?%>
