<%=form_tag operations_path, :method=>'get' do%>
  Operation : 
  <%@op_filter.each do |k,v|%>
    <%=radio_button_tag 'operation',k,v%>
    <%=k%>&nbsp;&nbsp;
  <%end%>
  <br/>
  Date :
  <%=text_field_tag 'bdate',params[:bdate]%>
  to
  <%=text_field_tag 'edate',params[:edate]%>
  <br/>
  <%=submit_tag 'Search'%>
<%end%>
</p>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Time</th>
      <th>Operation</th>
      <th>Content</th>
    </tr>
  </thead>
  <tbody>
    <%@operations.each do |e|%>
      <tr>
        <td><%=e.created_at.to_formatted_s(:db)%></td>
        <td><%=e.operation%></td>
        <td>
          <%if ['create','update'].include?(e.operation)%>
            <%= raw e.content.split(',').collect{|c| link_to c,notes_path(:word=>c)}.join(',')%>
          <%else%>
            <%=e.content%>
          <%end%>
        </td>
      </tr>
    <%end%>
  </tbody>
</table>
<%= paginate @operations %>
